/* CashController - Hut8
 * Sprint 1
 * 09 de maio de 2019
 * João Wasquevite
 *  */
 
body {
	margin: 0 auto;
	}
	
/* Barra lateral e menu */
.sidebar {
	width: 100%;
	height: 100%;
	background: #163d54;
	}
.sidebar > .head {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #0A1B23;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	color: white;
	text-align: center;
	font-size: 15px;
	}
	
.sidebar > .user {
	width: 100%;
	height: 100px;
	background: #123241;
	}
			.user > .logo {
			padding: 15px;
			float: left;
			width: 20%;
			}
			.user > .logo img {
			max-width: 68px;
			border-radius: 100%;
			}
			.user > .name {
			width: 45%;
			padding-top: 15px;
			float: left;
			font-family: 'Roboto Slab', sans-serif;
			color: white;
			font-size: 15px;
			}
			
.sidebar > .saldo {
	padding: 20px;
	background: #1D5170;
	border-left: 4px solid red;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	color: white;
	font-size: 15px;
	}

.sidebar > .menu {
	margin: 0;
	padding: 0;
	width: 100%;
}
.sidebar > .menu a {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 15px;
	color: white;
	padding: 20px;
	text-decoration: none;
}
.sidebar > .menu a.receita {
	background: #92C83E;
	border-left: solid #668E28 4px;
	color: white;
}
.sidebar > .menu a.despesa {
	background: #DC3912;
	border-left: solid #86230B 4px;
	color: white;
}
.sidebar > .menu a.active {
	border-left: solid #0A1B23 4px;
}
.sidebar > .menu a:hover:not(.active) {
	border-left: solid #0A1B23 4px;
}

/* Conteúdo na esquerda */
.content {
	width: 100%;
	float: left;
	}
	
	/* Barra do topo */
	.topbar {
		width: 100%;
		height: 60px;
		background: #e7e7e7;
		}
		.topbar > .logout {
			width: 100%;
			height: 60px;
			float: right;
			background: #E1E1E1;
			border-right: 4px solid #92C83E;
			}
			.logout > .logo {
			width: 10%;
			height: 100%;
			text-align: center;
			float: left;
			margin-left: 10px;
			}
			.logout > .logo img {
			max-width: 35px;
			padding-top: 12px;
			}
			.logout > .name {
			width: 80%;
			height: 100%;
			line-height: 60px;
			padding-left: 10px;
			float: left;
			font-family: 'Roboto Slab', sans-serif;
			color: #333;
			font-size: 15px;
			}
		
	/* Barra de informações */
	.infobar {
		width: 100%;
		background: #F2F2F2;
		padding-bottom: 15px;
		}
		.infobar > .staff {
		width: 100%;
		}
			.staff > .photo {
			width: 100%;
			text-align: center;
			padding-top: 15px;
			}
			.staff > .photo img {
			width: 20%;
			margin: 0 auto;
			border-radius: 100%;
			}
			.staff > .desc {
			width: 100%;
			padding-top: 10px;
			text-align: center;
			font-family: 'Roboto Slab', sans-serif;
			color: #333;
			font-size: 12px;
			}
				.staff > .desc > .fa-circle {
				color: #92C83E;
				font-size: 11px;
				}
				.staff > .desc a {
				margin-top: 200px;
				font-family: 'Roboto', sans-serif;
				font-weight: 900;
				text-decoration: none;
				color: #92C83E;
				font-size: 12px;
				padding: 5px;
				border: #92C83E 1px solid;
				border-radius: 3px;
				}
				.staff > .desc a:hover {border-width: 2px;}
		
	/* Seção de boxes */
	.boxes_section {
		padding: 25px;
		}
		.box {
		width: 100%;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0px 2px 80px 20px rgba(0,0,0,0.1);
		float: left;
		margin-bottom: 25px;
		}
			.box > .title {
			background: #92C83E;
			padding: 15px 25px;
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			border-radius: 5px 5px 0px 0px !important;
			color: white;
			font-size: 15px;
			}
			.box > .transacao {
			width: 100%;
			height: 70px;
			border-bottom: 1px solid #ccc;
			display: block;
			}
			.box > .transacao > .photo {
			width: 40px;
			float: left;
			padding: 15px 0px 20px 20px;
			}
			.box > .transacao > .photo img {
			max-width: 35px;
			border-radius: 100%;
			}
			.box > .transacao > .desc {
			width: 75%;
			float: left;
			font-family: 'Roboto Slab', sans-serif;
			color: #333;
			font-size: 15px;
			padding: 10px;
			}
